.tabs
{
  width: 100%;
  background-color: #eee;
  -webkit-box-shadow: -15px 7px 21px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -15px 7px 21px -7px rgba(0,0,0,0.75);
  box-shadow: -15px 7px 21px -7px rgba(0,0,0,0.75);
}

.tabs button
{
  background-color: #fff;
  color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 30%;
  margin: 0 1.5%;
  transition: background-color 0.2s;
}

.tabs button:hover
{
  background-color: #ddd;
}

@media screen and (min-width:1200px)
{

}
