/*
 * 004488 is blue
 * E5E5E5 is cream
 */
*{
    border:none;
    margin:0;
    padding:0;
}

html, body
{
    height:100%;
	background-color: #e5e5e5;
    -webkit-background-size: cover; /* For bground images (so they don't repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
}

body
{
    max-height: 100%;
}

ul
{
    color: #048;
}

.sf
{
    width:64px;
    height:64px;
}

.main
{
	background-color:#222;
	padding-left:10px;
	padding-right:10px;
	background-color:#E5E5E5;
	-webkit-background-size: cover; /* For bground images (so they don't repeat repeat repeat repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
	background-color:transparent;
    color: #e5e5e5;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

footer
{
	text-align:center;
	margin-top: 25px;
	margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    width: 100%
}
/* This site actually used to be called 'Corny Falcons'. Corn Hub is better. */
.rbar
{
    float: right; 
    width:20%;
    height: 100%;
    margin-top: 63px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:80%;
    height: 100%;
    float: left;
    position: relative;
}

.nav{
    top:0px;
    width:100%;
    position:fixed;
    background-color:#004488;
    color:#E5E5E5;
    text-align:center;
    font-size:25px;
    z-index: 999;
}

/* Media screens make me want to die. */
@media screen and (min-width:1050px){
    .main
	{
		padding-top:-40px;
		padding-top:40px;
	}
}

@media screen and (min-width:400px) and (max-width: 1050px){
    .main
	{
        padding-top:80px;
    }
}

@media screen and (min-width:400px) and (max-width: 532px){
    .main
	{
        padding-top:120px;
    }
}

@media screen and (min-width:0px) and (max-width: 400px){
    .main
	{
        padding-top:140px;
    }
}
/* So do nav bars. */
.nav ul{
    list-style-type:none;
    display:inline;
    background-color:#004488;
}

.nav ul li{
    display:inline;
    background-color:#004488;
}

a {
    text-decoration:none;
    color:#048;
}

.nav a{
    margin-left:5px;
    margin-right:5px;
    color:#E5E5E5;
    background-color:#004488;
}

.nav a:hover{
    color:#CECECE;
}

.main a:hover{
    color:#038;
}

.wrapper{
    font-family: Century Gothic, sans-serif;
    width:100%;
    height:100%;
}

/* Gatta make them elements look slick. */
h1{
    color:#048;
    text-align:center;
    border-bottom:thick;
    border-bottom:#E5E5E5;
    border-bottom:solid;
    font-size:50px;
}

h3{
    margin-left:10px;
    color:#058;
    font-size:24px;
}

p{
    color:#048;
    font-size:18px;
    margin-left:15px;
}


ul{
    list-style-type:none;
    margin-left:20px;
}

#contents{
    margin-bottom:20px;
}
/* That thing on the home page. With all the links and such. */
.main-img-list ul{
    text-align:center;
}

.main-img-list ul li{
    display:inline-block;
    margin:10px;
}

.main ul li img{
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main ul li img:hover{
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bs-anim{
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-left{
    position:absolute;
    margin-top:5%;
    margin-left: 12%;
    width:25%;
    text-align:center;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-mid{
    position:absolute;
    margin-top:5%;
    margin-left:37.5%;
    width:25%;
    text-align:center;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-right{
    position:absolute;
    margin-top:5%;
    margin-left: 63%;
    /*12 25 .5 25 .5 25 12 <-- Look at these super snazzy mathulations! */
    text-align:center;
    width:25%;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* My footer that doesn't work. I would fix it but I just don't have the will-power. */
.footer
{
    text-align:center;
    border-top: thin solid #048;
    background-color:#CECECE;
    bottom: 0; 
    width: 100%; 
    height: 50px;
}

.footer p
{
    background-color:#CECECE;
}

/* For my sexy highlighting colors */
::-moz-selection { /* Code for Firefox */
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

::selection {
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

/* For holidays! (The stupid ones at the bottom) */
.holiday
{
	color: #048;
}

.holiday-list
{
	text-align: center;
}

#Checkiday
{
	text-align: center;
}