/*
 * Roses are red
 * Violets are violet
 * #004488 is blue
 * #E5E5E5 is cream
 */
*{
    border:none;
    margin:0;
    padding:0;
}

html, body
{
    height:100%;
	background-color: #e5e5e5;
    -webkit-background-size: cover; /* For bground images (so they don't repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
}

body
{
    max-height: 100%;
	font-family: Century Gothic, sans-serif;
}

ul
{
    color: #048;
}

.sf
{
    width:64px;
    height:64px;
}

.main
{
	background-color:#222;
	padding-left:10px;
	padding-right:10px;
	background-color:#E5E5E5;
	-webkit-background-size: cover; /* For bground images (so they don't repeat repeat repeat repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
	background-color:transparent;
    color: #e5e5e5;
    user-select: none;
    z-index: 1000;
}

.snowflake:hover {
    cursor: default;
}

footer
{
	text-align:center;
	margin-top: 25px;
	margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    width: 100%
}
/* This site actually used to be called 'Corny Falcons'. Corn Hub is better. */
.rbar
{
    float: right; 
    width:20%;
    height: 100%;
    margin-top: 63px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:80%;
    height: 100%;
    float: left;
    position: relative;
}

.nav{
    top:0px;
    width:100%;
    position:fixed;
    background-color:#004488;
    color:#E5E5E5;
    text-align:center;
    font-size:25px;
    z-index: 999;
}

/* Media screens make me want to die. */
@media screen and (min-width:1050px){
    .main
	{
		padding-top:-40px;
		padding-top:40px;
	}
}

@media screen and (min-width:400px) and (max-width: 1050px){
    .main
	{
        padding-top:80px;
    }
}

@media screen and (min-width:400px) and (max-width: 532px){
    .main
	{
        padding-top:120px;
    }
}

@media screen and (min-width:0px) and (max-width: 400px){
    .main
	{
        padding-top:140px;
    }
}
/* So do nav bars. */
.nav ul{
    list-style-type:none;
    display:inline;
    background-color:#004488;
}

.nav ul li{
    display:inline;
    background-color:#004488;
}

a {
    text-decoration:none;
    color:#048;
}

.nav a{
    margin-left:5px;
    margin-right:5px;
    color:#E5E5E5;
    background-color:#004488;
}

.nav a:hover{
    color:#CECECE;
}

.main a:hover{
    color:#038;
}

.wrapper{
    font-family: Century Gothic, sans-serif;
    width:100%;
    height:100%;
}

/* Gatta make them elements look slick. */
h1{
    color:#048;
    text-align:center;
    border-bottom:thick;
    border-bottom:#E5E5E5;
    border-bottom:solid;
    font-size:50px;
	transition: all 0.5s ease-in-out;
}

h3{
    margin-left:10px;
    color:#058;
    font-size:24px;
}

h4
{
    font-size: 30px;
    margin-left:10px;
    color:#048;
}

p{
    color:#048;
    font-size:18px;
    margin-left:15px;
}


ul{
    list-style-type:none;
    margin-left:20px;
}

#contents{
    margin-bottom:20px;
}
/* That thing on the home page. With all the links and such. */
.main-img-list ul{
    text-align:center;
}

.main-img-list ul li{
    display:inline-block;
    margin:10px;
}

.main ul li img{
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main ul li img:hover{
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-left{
    position:absolute;
    margin-top:5%;
    margin-left: 12%;
    width:25%;
    text-align:center;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-mid{
    position:absolute;
    margin-top:5%;
    margin-left:37.5%;
    width:25%;
    text-align:center;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-right{
    position:absolute;
    margin-top:5%;
    margin-left: 63%;
    /*12 25 .5 25 .5 25 12 <-- Look at these super snazzy mathulations! */
    text-align:center;
    width:25%;
    height:60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* My footer that doesn't work. I would fix it but I just don't have the will-power. */
.footer
{
    text-align:center;
    border-top: thin solid #048;
    background-color:#CECECE;
    bottom: 0; 
    width: 100%; 
    height: 50px;
}

.footer p
{
    background-color:#CECECE;
}

/* For my sexy highlighting colors */
::-moz-selection { /* Code for Firefox */
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

::selection {
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

/* For holidays! (The stupid ones at the bottom) */
.holiday
{
	color: #048;
}

.holiday-list
{
	text-align: center;
}

#Checkiday
{
	text-align: center;
}

@keyframes rainbow-text {
  0% {
    color: #e87d7d;
  }
  2% {
    color: #e88a7d;
  }
  4% {
    color: #e8977d;
  }
  6% {
    color: #e8a47d;
  }
  8% {
    color: #e8b07d;
  }
  10% {
    color: #e8bd7d;
  }
  12% {
    color: #e8ca7d;
  }
  14% {
    color: #e8d77d;
  }
  16% {
    color: #e8e47d;
  }
  18% {
    color: #dfe87d;
  }
  20% {
    color: #d3e87d;
  }
  22% {
    color: #c6e87d;
  }
  24% {
    color: #b9e87d;
  }
  26% {
    color: #ace87d;
  }
  28% {
    color: #9fe87d;
  }
  30% {
    color: #92e87d;
  }
  32% {
    color: #86e87d;
  }
  34% {
    color: #7de881;
  }
  36% {
    color: #7de88e;
  }
  38% {
    color: #7de89b;
  }
  40% {
    color: #7de8a8;
  }
  42% {
    color: #7de8b5;
  }
  44% {
    color: #7de8c1;
  }
  46% {
    color: #7de8ce;
  }
  48% {
    color: #7de8db;
  }
  50% {
    color: #7de8e8;
  }
  52% {
    color: #7ddbe8;
  }
  54% {
    color: #7dcee8;
  }
  56% {
    color: #7dc1e8;
  }
  58% {
    color: #7db5e8;
  }
  60% {
    color: #7da8e8;
  }
  62% {
    color: #7d9be8;
  }
  64% {
    color: #7d8ee8;
  }
  66% {
    color: #7d81e8;
  }
  68% {
    color: #867de8;
  }
  70% {
    color: #927de8;
  }
  72% {
    color: #9f7de8;
  }
  74% {
    color: #ac7de8;
  }
  76% {
    color: #b97de8;
  }
  78% {
    color: #c67de8;
  }
  80% {
    color: #d37de8;
  }
  82% {
    color: #df7de8;
  }
  84% {
    color: #e87de4;
  }
  86% {
    color: #e87dd7;
  }
  88% {
    color: #e87dca;
  }
  90% {
    color: #e87dbd;
  }
  92% {
    color: #e87db0;
  }
  94% {
    color: #e87da4;
  }
  96% {
    color: #e87d97;
  }
  98% {
    color: #e87d8a;
  }
  100% {
    color: #e87d7d;
  }
}

@keyframes rb-bground {
  0% {
    background-color: #e87d7d;
  }
  2% {
    background-color: #e88a7d;
  }
  4% {
    background-color: #e8977d;
  }
  6% {
    background-color: #e8a47d;
  }
  8% {
    background-color: #e8b07d;
  }
  10% {
    background-color: #e8bd7d;
  }
  12% {
    background-color: #e8ca7d;
  }
  14% {
    background-color: #e8d77d;
  }
  16% {
    background-color: #e8d77d;
  }
  18% {
    background-color: #dfe87d;
  }
  20% {
    background-color: #d3e87d;
  }
  22% {
    background-color: #c6e87d;
  }
  24% {
    background-color: #b9e87d;
  }
  26% {
    background-color: #ace87d;
  }
  28% {
    background-color: #9fe87d;
  }
  30% {
    background-color: #92e87d;
  }
  32% {
    background-color: #86e87d;
  }
  34% {
    background-color: #7de881;
  }
  36% {
    background-color: #7de88e;
  }
  38% {
    background-color: #7de89b;
  }
  40% {
    background-color: #7de8a8;
  }
  42% {
    background-color: #7de8b5;
  }
  44% {
    background-color: #7de8c1;
  }
  46% {
    background-color: #7de8ce;
  }
  48% {
    background-color: #7de8db;
  }
  50% {
    background-color: #7de8e8;
  }
  52% {
    background-color: #7ddbe8;
  }
  54% {
    background-color: #7dcee8;
  }
  56% {
    background-color: #7dc1e8;
  }
  58% {
    background-color: #7db5e8;
  }
  60% {
    background-color: #7da8e8;
  }
  62% {
    background-color: #7d9be8;
  }
  64% {
    background-color: #7d8ee8;
  }
  66% {
    background-color: #7d81e8;
  }
  68% {
    background-color: #867de8;
  }
  70% {
    background-color: #927de8;
  }
  72% {
    background-color: #9f7de8;
  }
  74% {
    background-color: #ac7de8;
  }
  76% {
    background-color: #b97de8;
  }
  78% {
    background-color: #c67de8;
  }
  80% {
    background-color: #d37de8;
  }
  82% {
    background-color: #df7de8;
  }
  84% {
    background-color: #e87de4;
  }
  86% {
    background-color: #e87dd7;
  }
  88% {
    background-color: #e87dca;
  }
  90% {
    background-color: #e87dbd;
  }
  92% {
    background-color: #e87db0;
  }
  94% {
    background-color: #e87da4;
  }
  96% {
    background-color: #e87d97;
  }
  98% {
    background-color: #e87d8a;
  }
  100% {
    background-color: #e87d7d;
  }
}

.rainbow-text {
  animation: rainbow-text 5s infinite;
}

#title
{
    animation: rainbow-text 5s infinite;
}

.rb-bground
{
	animation: rb-bground 5s infinite;
}



/* SUPER EPIC SNOW! (from https://codepen.io/NickyCDK/pen/AIonk) */
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:0;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	