/*
 * Roses are red
 * Violets are purple
 * #004488 is blue
 * #fff is white
 * Whoops I forgot to rhyme
 */
*
{
    margin                  : 0;
    padding                 : 0;
    box-sizing              : border-box;
	
	/*outline: 1px red solid;*/
}

html, body
{
    height:100%;
    /*background-color: #fff;*/
    -webkit-background-size : cover; /* For bground images (so they don't repeat) */
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
    height                  : 100%; /* eg the one on cornchip.html */
}

body
{
    min-height              : 100%;
    font-family             : 'Banana', Century Gothic, sans-serif;
    color                   : #048;
    background-color        : #fff;
}

/* Gatta make them elements look super slick. */
h1
{
    text-align              : center;
    border-bottom           : thick;
    border-bottom           : #fff;
    border-bottom           : solid;
    font-size               : 50px;
    transition              : all 0.5s ease-in-out;
}

h2
{
    margin-left             : 20px;
    color                   : #058;
    font-size               : 30px;
    margin-bottom           : 20px;
}

h3
{
    margin-left             : 10px;
    color                   : #058;
    font-size               : 24px;
}

h4 { margin-left: 10px; font-size: 30px; }
p { font-size: 18px; margin-left: 15px; }

a { color: #048; text-decoration: underline; }
a:hover{ color: #038; text-decoration: none; }

ul { margin-left: 20px; list-style-type: none; }
.bullet ul { list-style-type: bullet; }

.main
{
	height                  : 100%;
    background-color        : #fff;
    
    padding-left            : 10px;
    padding-right           : 10px;
    /* For bground images (so they don't repeat repeat repeat repeat) */
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
    /* So the margins and padding don't make tulinehe page longer */
    -moz-box-sizing         : border-box;
    -webkit-box-sizing      : border-box;
    box-sizing              : border-box;
}

.sf { width:64px; height:64px; } /* Makes something 64px*64px */

::-moz-selection { background-color: #048; color: #fff; }
::selection { background-color: #048; color: #fff; }

.premium { color: #ffbf00; cursor: pointer; }

.wrapper
{
    font-family: 'Banana', Century Gothic, sans-serif;
    height                  : 100%;
    margin                  : 0px auto;
    overflow                : auto;
    -moz-box-sizing         : border-box;
    -webkit-box-sizing      : border-box;
    box-sizing              : border-box;
}



.box-left
{
    position                : absolute;
    margin-top              : 5%;
    margin-left             : 12%;
    width                   : 25%;
    text-align              : center;
    height                  : 60%;
    box-shadow              : 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-mid
{
    position                : absolute;
    margin-top              : 5%;
    margin-left             : 37.5%;
    width                   : 25%;
    text-align              : center;
    height                  : 60%;
    box-shadow              : 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-right
{
    position                : absolute;
    margin-top              : 5%;
    margin-left             : 63%;
    /* 12 25 .5 25 .5 25 12 <-- Look at these super snazzy mathulations! */
    text-align              : center;
    width                   : 25%;
    height                  : 60%;
    box-shadow              : 0 5px 15px rgba(0, 0, 0, 0.3);
}

.gear img
{
    position                : fixed;
	bottom                  : 0;
    right                   : 0;
    z-index                 : 99;
    width                   : 64px;
    height                  : 64px;
    cursor                  : pointer;
    -moz-transition         : all 2s ease-in-out;
    -webkit-transition      : all 2s ease-in-out;
    transition              : all 2s ease-in-out;
}

.gear-pressed
{
    -ms-transform           : rotate(-360deg); /* IE 9 */
    -webkit-transform       : rotate(-360deg); /* Chrome, Safari, Opera */
    transform               : rotate(-360deg);
}

/* For holidays! (The stupid ones at the bottom) */
.center { text-align: center; }

.typed-cursor
{
    opacity: 1;
    -webkit-animation       : blink 0.7s infinite;
    -moz-animation          : blink 0.7s infinite;
    animation               : blink 0.7s infinite;
}

.box-shadow-all
{
    box-shadow              : 0 5px 15px rgba(0, 0, 0, 0.3);
}

hr
{
    border                  : thin;
    border-color            : #048;
    border-style            : solid;
}

.neon
{
	color: black;
	transition: all 1.5s ease-in-out;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	cursor: hidden;
}

.neon:hover
{
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #048, 0 0 30px #048, 0 0 40px #048, 0 0 55px #048, 0 0 75px #048;
}

/* Holiday stuff */
#snowflakeContainer 
{
    position                : absolute;
    left                    : 0px;
    top                     : 0px;
}

.snowflake 
{
    position                : fixed;
    font-family             : Cambria, Georgia, serif;
    font-size               : 14px;
    
    padding-left            : 15px;
    line-height             : 24px;
    
    color                   : #fff;
    background-color        : transparent;
    
    user-select             : none;
    cursor                  : default;
    
    z-index                 : 999;
}

/* SUPER EPIC SNOW! (from https://codepen.io/NickyCDK/pen/AIonk) */
#snow
{
    background: none;
    font-family: Androgyne;
    background-image        : url('http://www.wearewebstars.dk/codepen/img/s1.png'), 
	                          url('http://www.wearewebstars.dk/codepen/img//s2.png'), 
							  url('http://www.wearewebstars.dk/codepen/img//s3.png');
    
	width                   : 100%;
    height                  : 100%;
	position                : absolute;
	top                     : 0;
    left                    : 0;
    z-index                 : 0;
    -webkit-animation       : snow 20s linear infinite;
    -moz-animation          : snow 20s linear infinite;
    -ms-animation           : snow 20s linear infinite;
    animation               : snow 20s linear infinite;
}

/* Fonts */
@font-face
{
    font-family             : 'Banana';
    src                     : url('../fonts/banana.woff2') format('woff2'),
                               url('../fonts/banana.woff') format('woff');
}

/* Uncomment when you want to change the bground image for something special
p, h1, h2, h3, h4, h5, h6, a, .holiday
{
    color                   : #fff;
}

.main, .wrapper, body
{
    background              : transparent;
}

html 
{ 
    background              : url('../images/may5.jpg') no-repeat center center fixed;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}
*/


/* Fancy animations */

/* Some fancy rainbow text */
.rainbow-text { animation: rainbow-text 5s infinite !important; }

/* Rainbow bground */
.rb-bground { animation: rb-bground 5s infinite !important; }

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes snow 
{
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow 
{
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow 
{
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow 
{
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@keyframes rainbow-text {
  0% {
    color: #e87d7d;
  }
  2% {
    color: #e88a7d;
  }
  4% {
    color: #e8977d;
  }
  6% {
    color: #e8a47d;
  }
  8% {
    color: #e8b07d;
  }
  10% {
    color: #e8bd7d;
  }
  12% {
    color: #e8ca7d;
  }
  14% {
    color: #e8d77d;
  }
  16% {
    color: #e8e47d;
  }
  18% {
    color: #dfe87d;
  }
  20% {
    color: #d3e87d;
  }
  22% {
    color: #c6e87d;
  }
  24% {
    color: #b9e87d;
  }
  26% {
    color: #ace87d;
  }
  28% {
    color: #9fe87d;
  }
  30% {
    color: #92e87d;
  }
  32% {
    color: #86e87d;
  }
  34% {
    color: #7de881;
  }
  36% {
    color: #7de88e;
  }
  38% {
    color: #7de89b;
  }
  40% {
    color: #7de8a8;
  }
  42% {
    color: #7de8b5;
  }
  44% {
    color: #7de8c1;
  }
  46% {
    color: #7de8ce;
  }
  48% {
    color: #7de8db;
  }
  50% {
    color: #7de8e8;
  }
  52% {
    color: #7ddbe8;
  }
  54% {
    color: #7dcee8;
  }
  56% {
    color: #7dc1e8;
  }
  58% {
    color: #7db5e8;
  }
  60% {
    color: #7da8e8;
  }
  62% {
    color: #7d9be8;
  }
  64% {
    color: #7d8ee8;
  }
  66% {
    color: #7d81e8;
  }
  68% {
    color: #867de8;
  }
  70% {
    color: #927de8;
  }
  72% {
    color: #9f7de8;
  }
  74% {
    color: #ac7de8;
  }
  76% {
    color: #b97de8;
  }
  78% {
    color: #c67de8;
  }
  80% {
    color: #d37de8;
  }
  82% {
    color: #df7de8;
  }
  84% {
    color: #e87de4;
  }
  86% {
    color: #e87dd7;
  }
  88% {
    color: #e87dca;
  }
  90% {
    color: #e87dbd;
  }
  92% {
    color: #e87db0;
  }
  94% {
    color: #e87da4;
  }
  96% {
    color: #e87d97;
  }
  98% {
    color: #e87d8a;
  }
  100% {
    color: #e87d7d;
  }
}

@keyframes rb-bground {
  0% {
    background-color: #e87d7d;
  }
  2% {
    background-color: #e88a7d;
  }
  4% {
    background-color: #e8977d;
  }
  6% {
    background-color: #e8a47d;
  }
  8% {
    background-color: #e8b07d;
  }
  10% {
    background-color: #e8bd7d;
  }
  12% {
    background-color: #e8ca7d;
  }
  14% {
    background-color: #e8d77d;
  }
  16% {
    background-color: #e8d77d;
  }
  18% {
    background-color: #dfe87d;
  }
  20% {
    background-color: #d3e87d;
  }
  22% {
    background-color: #c6e87d;
  }
  24% {
    background-color: #b9e87d;
  }
  26% {
    background-color: #ace87d;
  }
  28% {
    background-color: #9fe87d;
  }
  30% {
    background-color: #92e87d;
  }
  32% {
    background-color: #86e87d;
  }
  34% {
    background-color: #7de881;
  }
  36% {
    background-color: #7de88e;
  }
  38% {
    background-color: #7de89b;
  }
  40% {
    background-color: #7de8a8;
  }
  42% {
    background-color: #7de8b5;
  }
  44% {
    background-color: #7de8c1;
  }
  46% {
    background-color: #7de8ce;
  }
  48% {
    background-color: #7de8db;
  }
  50% {
    background-color: #7de8e8;
  }
  52% {
    background-color: #7ddbe8;
  }
  54% {
    background-color: #7dcee8;
  }
  56% {
    background-color: #7dc1e8;
  }
  58% {
    background-color: #7db5e8;
  }
  60% {
    background-color: #7da8e8;
  }
  62% {
    background-color: #7d9be8;
  }
  64% {
    background-color: #7d8ee8;
  }
  66% {
    background-color: #7d81e8;
  }
  68% {
    background-color: #867de8;
  }
  70% {
    background-color: #927de8;
  }
  72% {
    background-color: #9f7de8;
  }
  74% {
    background-color: #ac7de8;
  }
  76% {
    background-color: #b97de8;
  }
  78% {
    background-color: #c67de8;
  }
  80% {
    background-color: #d37de8;
  }
  82% {
    background-color: #df7de8;
  }
  84% {
    background-color: #e87de4;
  }
  86% {
    background-color: #e87dd7;
  }
  88% {
    background-color: #e87dca;
  }
  90% {
    background-color: #e87dbd;
  }
  92% {
    background-color: #e87db0;
  }
  94% {
    background-color: #e87da4;
  }
  96% {
    background-color: #e87d97;
  }
  98% {
    background-color: #e87d8a;
  }
  100% {
    background-color: #e87d7d;
  }
}
