/*004488*/
*{
    border:none;
    margin:0;
    padding:0;
}

html, body
{
    height:100%;
	background-color: #e5e5e5;
    -webkit-background-size: cover; /* For bground images (so they don't repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
}

.sf
{
    width:64px;
    height:64px;
}

.main
{
	background-color:#222;
	padding-left:10px;
	padding-right:10px;
	min-height:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: box;
	background-color:#E5E5E5;
	-webkit-background-size: cover; /* For bground images (so they don't repeat) */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; /* eg the one on cornchip.html */
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
	background-color:transparent;
    color: #e5e5e5;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

footer
{
	text-align:center;
	margin-top: 25px;
	margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    width: 100%
}

.rbar
{
    float: right; 
    width:20%;
    height: 100%;
    margin-top: 63px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:80%;
    height: 100%;
    float: left;
    position: relative;
}

.nav{
    top:0px;
    width:100%;
    position:fixed;
    background-color:#004488;
    color:#E5E5E5;
    text-align:center;
    font-size:25px;
    z-index: 999;
}

@media screen and (min-width:1050px){
    .main
	{
		padding-top:-40px;
		padding-top:40px;
	}
}

@media screen and (min-width:400px) and (max-width: 1050px){
    .main
	{
        padding-top:80px;
    }
}

@media screen and (min-width:400px) and (max-width: 532px){
    .main
	{
        padding-top:120px;
    }
}

@media screen and (min-width:0px) and (max-width: 400px){
    .main
	{
        padding-top:140px;
    }
}

.nav ul{
    list-style-type:none;
    display:inline;
    background-color:#004488;
}

.nav ul li{
    display:inline;
    background-color:#004488;
}

a {
    text-decoration:none;
    color:#048;
}

.nav a{
    margin-left:5px;
    margin-right:5px;
    color:#E5E5E5;
    background-color:#004488;
}

.nav a:hover{
    color:#CECECE;
}

.main a:hover{
    color:#038;
}

.wrapper{
    font-family: Century Gothic, sans-serif;
    width:100%;
    height:100%;
}

h1{
    color:#048;
    text-align:center;
    border-bottom:thick;
    border-bottom:#E5E5E5;
    border-bottom:solid;
    font-size:50px;
}

h3{
    margin-left:10px;
    color:#058;
    font-size:46px;
}

p{
    color:#048;
    font-size:18px;
    margin-left:15px;
}


ul{
    list-style-type:none;
    margin-left:20px;
}

#contents{
    margin-bottom:20px;
}

.footer
{
    text-align:center;
    border-top: thin solid #048;
    background-color:#CECECE;
    bottom: 0; 
    width: 100%; 
    height: 50px;
}

.footer p
{
    background-color:#CECECE;
}

::-moz-selection { /* Code for Firefox */
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

::selection {
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

.hol-date
{
    color:#058;
    font-size:24px;
}

#Checkiday
{
    width: 100%;
    color: #036;
	text-align: center;
}

/*.box
{
	width: 100%;
    height: 100px;
	float: right;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
    border-color: #048;
    border: thick;
}*/

.blue-box
{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 28px;
    text-align: center;
    height: 250px;
    overflow: hidden;
    border:thin;
    border-style: solid;
    border-color: #004488;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}