.loading
{
	font-size: 4vw;
}

.weather
{
	font-size: 2.7vw;
}

.minmax
{
	font-size: 2vw;
	text-align:center;
}

.description
{
	text-align:center;
}

.temperature
{
	width:100%;
	font-size: 9vw;
	text-align:center;
}

.wind
{
	text-align:center;
}

.humidity
{
	margin-left:10%;
}

.location
{
	float: right;
	margin-right: 10%;
}

.weather span { color: #048; }

/*
.weather span { color: #e5e5e5; }
*/