/*004488*/
*{
  border:none;
  margin:0;
  padding:0;
}

html, body{
  overflow: hidden;
  height:100%;
}

.sf{
  width:64px;
  height:64px;
}

.main{
  background-color: #e5e5e5;
  padding-left:10px;
  padding-right:10px;
  height:100%;
}

.nav{
  top:0px;
  width:100%;
  position:fixed;
  background-color:#004488;
  color:#E5E5E5;
  text-align:center;
  font-size:25px;
}

.loading
{
	font-size: 4vw;
}

.weather
{
	font-size: 2.7vw;
}

.minmax
{
	font-size: 2vw;
	text-align:center;
}

.description
{
	text-align:center;
}

.temperature
{
	width:100%;
	font-size: 9vw;
	text-align:center;
}

.wind
{
	text-align:center;
}

.humidity
{
	margin-left:10%;
}

.location
{
	float: right;
	margin-right: 10%;
}

@media screen and (min-width:1050px){
  .main{
    padding-top:40px;
  }
}

@media screen and (min-width:400px) and (max-width: 1050px){
  .main{
    padding-top:80px;
  }
}

@media screen and (min-width:400px) and (max-width: 532px){
  .main{
    padding-top:120px;
  }
}

@media screen and (min-width:0px) and (max-width: 400px){
  .main{
    padding-top:140px;
  }
}

.nav ul{
  list-style-type:none;
  display:inline;
  background-color:#004488;
}

.nav ul li{
  display:inline;
  background-color:#004488;
}

a {
  text-decoration:none;
  color:#048;
}

.nav a{
  margin-left:5px;
  margin-right:5px;
  color:#E5E5E5;
  background-color:#004488;
}

.nav a:hover{
  color:#CECECE;
}

.main a:hover{
  color:#038;
}

.wrapper{
  font-family: Century Gothic, sans-serif;
  width:100%;
  height:100%;
}

h1{
  color:#048;
  text-align:center;
  border-bottom:thick;
  border-bottom:#E5E5E5;
  border-bottom:solid;
  font-size:50px;
}

h3{
  margin-left:10px;
  color:#058;
  font-size:24px;
}

p{
  color:#048;
  font-size:18px;
  margin-left:15px;
}

ul{
  list-style-type:none;
  margin-left:20px;
}

#contents{
  margin-bottom:20px;
}

.main-img-list ul{
  text-align:center;
}

.main-img-list ul li{
  display:inline-block;
  margin:10px;
}

.main ul li img{
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main ul li img:hover{
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bs-anim{
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.box-left{
  position:absolute;
  margin-top:5%;
  margin-left: 12%;
  width:25%;
  text-align:center;
  height:60%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-mid{
  position:absolute;
  margin-top:5%;
  margin-left:37.5%;
  width:25%;
  text-align:center;
  height:60%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-right{
  position:absolute;
  margin-top:5%;
  margin-left: 63%;
  /*12 25 .5 25 .5 25 12*/
  text-align:center;
  width:25%;
  height:60%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.footer
{
  height:50px;
  text-align:center;
  border-top: thin solid #048;
  background-color:#CECECE;
  bottom:0;
}

.footer p
{
  background-color:#CECECE;
}

::-moz-selection { /* Code for Firefox */
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

::selection {
    color: #e5e5e5 !important;
    background: #048 !important;
	opacity: 0.5;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
	background-color:transparent;
    color: #e5e5e5;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}