<!--NOOUTPUT-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--
  /$$$$$$                                      /$$   /$$           /$$
 /$$__  $$                                    | $$  | $$          | $$
| $$  \__/  /$$$$$$   /$$$$$$  /$$$$$$$       | $$  | $$ /$$   /$$| $$$$$$$
| $$       /$$__  $$ /$$__  $$| $$__  $$      | $$$$$$$$| $$  | $$| $$__  $$
| $$      | $$  \ $$| $$  \__/| $$  \ $$      | $$__  $$| $$  | $$| $$  \ $$
| $$    $$| $$  | $$| $$      | $$  | $$      | $$  | $$| $$  | $$| $$  | $$
|  $$$$$$/|  $$$$$$/| $$      | $$  | $$      | $$  | $$|  $$$$$$/| $$$$$$$/
\______/  \______/ |__/      |__/  |__/       |__/  |__/ \______/ |_______/
-->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108028641-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-108028641-1');
</script>

<if x="$title" notEqual y="undefined">
	<title>Corn Hub : <var name="title" /></title>
</if>
<if x="$title" equal y="undefined">
	<title>Corn Hub</title>
</if>

<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" media="all" href="/css/styles.css"/>
<script type="text/javascript" src="/js/cookies.js"></script> <!-- Makes cookies easier to deal with -->

<link rel="icon" href="/favicon.jpg"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript" src="/js/account-manager.js"></script> <!-- Interacting with Corn Hub accounts has never been easier! -->
<script type="text/javascript" src="/js/cornhub.js"></script>