<!--NOOUTPUT-->
<link rel="stylesheet" media="all" href="/css/nav.css" />
<script src="/js/nav.js"></script>

<nav>
	<ul>
    <span id="toggle">
      <li><a id="menu">&equiv;</a></li>
    </span>
		<span id="links">
			<li><a href="/">Home</a></li>
			<li><a href="/weather.html">Weather</a></li>
			<li><a href="/matrix.html">Matrix</a></li>
			<li><a href="/news.html">News</a></li>
			<li><a href="/stuff.html">Stupid Stuff</a></li>
			<li><a href="/sean.html">Sean</a></li>
			<li><a href="/tdih.html">TDIH</a></li>
			<li><a href="/ap.html">AP</a></li>
			<li><a href="/read.html">Reader</a></li>
      <li id="account-icon"><a href="/account.html">Account</a></li>
		</span>
	</ul>
</nav>
