.nav
{
  background-color: #048;
  font-size: 25px;
  position: sticky;
  z-index: 9;
  color: #fff;
  width: 100%;
  top: 0px;
}

.nav ul
{
  list-style-type: none;
  display: inline;
  width : 100%;
}

.nav ul li
{
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.nav ul li a
{
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}

.nav a:hover
{
  color: #e5e5e5;
}

.nav a
{
  color: #fff;
}

.nav .toggle
{
  width: 100%;
  padding-right: 20px;
  background: #048;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

#account-area
{
  float: right;
  margin-right: 5vw;
}

#account-area li
{
  width: 100%;
  height: 100%;
}

#links
{
  float: left;
  margin-left: 5vw;
}

#account-icon img
{
  width: 40px;
  height: 40px;
}

/* Responsive things because of the way I designed the nav bar */

/* Media screens make me want to die. */
@media screen and (max-width:1200px)
{
  .nav .toggle
  {
    display: block;
  }
  .nav ul:not(.active)
  {
    display: none;
  }
  .nav ul li
  {
    width: 100%;
    display: block;
    text-align: center;

    margin-bottom: 10px
  }
  #links
  {
    float: none;
    margin-left: 5vw;
  }
  #account-area
  {
    float: none;
  }
  .toggle
  {
    text-align: center;
  }
  .nav ul li
  {
    margin: auto;
  }
}
