/*COMPILE*/

/*
 * Used in the events.html page of the site.
 */

#month-n-stuff
{
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  font-size: calc(1.7em + 4vh);
  min-height: 60px;
  height: calc(40px + 4vh);
}

.arrow
{
  cursor: pointer;
}

#days
{
  display: flex;
  flex-direction: column;

  .event-container
  {
    display: flex;
    flex: 1;
    margin: 20px 0;

    .date
    {
      flex: 1;
      background-color: #dedede;
      color: #048;
      text-align: center;
    }

    .event
    {
      flex: 5;
      ul
      {
        list-style-type: none;
      }
    }
  }
}

@media screen and (max-width: 599px)
{
  .event-container
  {
    flex-direction: column;

    .date
    {
      flex: 1;
    }

    .event
    {
      flex: 1;
    }
  }
}
