/*COMPILE*/

.news
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;

  .news-box
  {
    flex-basis: 30%;

    -webkit-box-shadow: 1px 0px 11px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 0px 11px 3px rgba(0,0,0,0.28);
    box-shadow: 1px 0px 11px 3px rgba(0,0,0,0.28);

    min-width: 250px;
    min-height: 200px;

    margin: 1em;
  }
}

@media screen and (max-width: 1440px)
{
  .news-box
  {
    flex: 1;
  }
}
