/*COMPILE*/

*
{
  margin: 0;
  padding: 0;
  border: none;
}

html
{
  width: 100%;
  min-height: 100%;
}

html, body, .wrapper, .main { display: flex; flex-direction: column; }

body, .wrapper, .main { flex: 1; }

body
{
  font-family: 'Banana', sans-serif;
  flex: 0 0 1;
}

h1, h2, h3, h4, h5, h6, p, span, pre, a, li
{
  color: #048;
}

h1
{
  font-size: 4.5em;
  border-bottom: 4px #048 solid;
  text-align: center;
}

h2
{
  font-size: 2.6em;
}

h3
{
  font-size: 2.2em;
}

h4
{
  font-size: 1.5em;
}

p
{
  font-size: 1.1em;
  margin-left: 10px;
}

li
{
  font-size: 1.1em;
}

ul
{
  margin-left: 20px;
}

.wrapper
{
  width: 100%;
  height: 100%;
}

.main
{
  width: 95%;
  margin-left: 2.5%;
}

.notify-icon
{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: transparent;

  button
  {
    color: #048;
    background-color: transparent;
    transition: background-color 0.5s;
    outline: #048 solid thin;
    width: 100%;
    height: 100%;
    cursor: pointer;

    span 
    {
      font-size: 64px;
    }

    &:hover
    {
      background-color: #048;

      span { color: white; }
    }
  }

  width: 128px;
  height: 128px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px)
{
  .alert-box
  {
    .alert-content
    {
      width: 60% !important;
      margin: 0 20% !important;
    }
  }
}

@media screen and (max-width: 800px)
{
  .alert-box
  {
    .alert-content
    {
      width: 80% !important;
      margin: 0 10% !important;
    }
  }

  .notify-icon
  {
    width: 100px !important;
    height: 100px !important;

    button
    {
      span
      {
        font-size: 48px !important;
      }
    }
  }
}

@media screen and (max-width: 500px)
{
  .alert-box
  {
    .alert-content
    {
      width: 100% !important;
      margin: 0 !important;
    }
  }

  .notify-icon
  {
    width: 64px !important;
    height: 64px !important;

    button
    {
      span
      {
        font-size: 32px !important;
      }
    }
  }
}

.alert-box
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  display: flex;

  .alert-content
  {
    background-color: white;
    width: 40%;
    margin: 0 30%;
    min-height: 300px;
    padding: 20px;

    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div
    {
      width: 100%;
      display: flex;
      flex-direction: column;

      p
      {
        font-size: 1.4em;
      }

      button
      {
        margin-top: 20px;
        align-self: center;
        min-width: 120px;
        padding: 12px 16px;
        background-color: transparent;
        color: #048;

        font-size: 1.2em;

        transition: background-color 0.5s;

        outline: #048 solid thin;
        cursor: pointer;


        &:hover
        {
          background-color: #048;
          color: white;
        }
      }
    }
  }
}

/* Resizing */
@media screen and (max-width:810px)
{
  .main
  {
    width: 100%;
    margin-left: 0;
  }
}

/* Util Stuff */

.center
{
  text-align: center;
}

.premium
{
  color: gold;
  font-size: 1.6em;
  cursor: pointer;
}

@font-face
{
    font-family             : 'Banana';
    src                     : url('../fonts/banana.woff2') format('woff2'),
                              url('../fonts/banana.woff') format('woff');
}
