/*COMPILE*/

*
{
  margin: 0;
  padding: 0;
  border: none;
}

html, body, .wrapper, .main { width: 100%; height: 100%; }

body
{
  font-family: 'Banana', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, pre, a, li
{
  color: #048;
}

h1
{
  font-size: 4.5em;
  border-bottom: 4px #048 solid;
  text-align: center;
}

h2
{
  font-size: 2.6em;
}

h3
{
  font-size: 2.2em;
}

h4
{
  font-size: 1.5em;
}

p
{
  font-size: 1.1em;
  margin-left: 10px;
}

li
{
  font-size: 1.1em;
}

ul
{
  margin-left: 20px;
}

.wrapper
{
  width: 100%;
  height: 100%;
}

.main
{
  width: 95%;
  margin-left: 2.5%;
}

/* Resizing */
@media screen and (max-width:810px)
{
  .main
  {
    width: 100%;
    margin-left: 0;
  }
}

/* Util Stuff */

.center
{
  text-align: center;
}

.premium
{
  color: gold;
  font-size: 1.6em;
  cursor: pointer;
}

@font-face
{
    font-family             : 'Banana';
    src                     : url('../fonts/banana.woff2') format('woff2'),
                              url('../fonts/banana.woff') format('woff');
}
